body{
    font-size: 1.2rem;
}
.list-group{
    list-style-type: none;
}
.list-group li:not(:first-child){
    margin-top: 0.8em !important;
}
.container{
    max-width: 800px;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 20px;
}
.container .title{
    font-family: 'Cantora One', sans-serif;
}
.container .custom-nav{
    font-size: 1rem;
}
.container .post-content h2{
    margin-top: 25px;
}
.container a{
    border-bottom: 1px #721c24 solid;
    color: #721c24;
}
.container a:hover{
    text-decoration: none;
    border-bottom: 1px #343a40 dotted;
    color: #343a40;
}

.paragraph a{
    border-bottom: 2px #721c24 dotted;
    color: #343a40;
}
.paragraph a:hover{
    text-decoration: none;
    border-bottom: 2px #721c24 solid;
    color: #721c24;
}

/* overwrite css */
.mt-5{
    margin-top: 2rem !important;
}