<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/" class="font-courier">{{ site.title }}</a>
      </h1>

      <nav class="navbar box-nav">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          <li><a href="{{ site.github }}" target="_blank" class="font-courier">Github</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center box-main">
        Desenvolvedor Web, Graduado em banco de dados, especializando em desenvolvimento
        Web / Mobile e Zend Certified PHP Engineer, sempre procurando aprender mais e compartilhar o
        conhecimento, atuamente se dedicando mais nas linguagens <strong>PHP</strong> e <strong>Javascript</strong>,
        além de gostar de estudar <i>padrões de projetos</i> e <i>clean code</i>.
      </h2>
    {% endif %}

  </div>

</header>
