<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/" class="font-courier">{{ site.title }}</a>
      </h1>

      <nav class="navbar box-nav">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          <li><a href="{{ site.github }}" target="_blank" class="font-courier">Github</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center box-main">
        <strong><a href="https://twitter.com/oliveiralucasbr">@oliveiralucasbr</a></strong> <span class="fa fa-twitter"></span><br>
        Web Developer, graduated in Database, coursing post graduation in Web / Mobile Development and Zend Certified PHP Engineer. 
        In this blog I publish subjects related to the world of web development and sofware engineering.
      </h2>
    {% endif %}

  </div>

</header>
