{% extends 'layout.html.twig' %}

{% block description %}Lucas de Oliveira, Web Developer, Zend Certified PHP Engineer, graduated in Database, addicted to code, fan of software engineering and open source.{% endblock %}
{% block title %}Lucas de Oliveira - Web Developer{% endblock %}

{% block content %}
<main role="main" class="container text-justify">
    <h1 class="mt-5 title">deoliveiralucas.net</h1>
    <p>
        <a target="_blank" href="https://github.com/deoliveiralucas">Github</a> |
        <a target="_blank" href="https://twitter.com/oliveiralucasbr">Twitter</a> |
        <a target="_blank" href="https://www.linkedin.com/in/deoliveira-lucas">Linkedin</a> |
        <a target="_blank" href="https://stackoverflow.com/users/7435669/deoliveiralucas">StackOverflow</a>
    </p>

    <h2 class="mt-5">About</h2>

    <p class="paragraph">
        Hi! My name is Lucas de Oliveira.<br>
        I am a Web Developer, currently working as Backend Developer at <a target="_blank" href="http://www.acruxx.com.br/">Acruxx</a>,
        living in Cruzeiro - São Paulo. I'm a <a target="_blank" href="http://www.zend.com/en/yellow-pages/ZEND027995">Zend Certified PHP Engineer</a>,
        graduated in Database at <a target="_blank" href="http://www.fateccruzeiro.edu.br/">Fatec Cruzeiro</a> and post graduated in Web Development at
        <a target="_blank" href="http://unisal.br/unidades/lorena-sao-joaquim/">Unisal Lorena</a>.
    </p>

    <h2 class="mt-4">Posts</h2>

    <ul class="list-group">
        {% for key, post in posts %}
            <li {{ key == 0 ? 'class="mt-1"' : 'class="mt-2"' }}>
                <a href="/blog/{{ post.getSlug() }}">{{ post.getTitle() }}</a>
                <span class="text-muted small"> {{ post.getPostedAt().format('Y M d, H\\h') }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2 class="mt-4">Presentations</h2>

    <ul class="list-group">
        <li class="mt-1">
            <a target="_blank" href="https://speakerdeck.com/deoliveiralucas/dicas-para-iniciar-um-projeto-em-php">Dicas para iniciar um projeto em PHP - PHPVale</a>
            <span class="text-muted small">2019 Mar 16, 08h</span>
        </li>
        <li class="mt-1">
            <a target="_blank" href="https://pt.slideshare.net/deoliveiralucasnet/php2018-phpvale">PHP em 2018 - PHPVale</a>
            <span class="text-muted small">2018 May 05, 17h</span>
        </li>
        <li class="mt-2">
            <a target="_blank" href="https://pt.slideshare.net/deoliveiralucasnet/introduo-a-orientao-a-objetos-com-php">Introdução a Orientação a Objetos com PHP - FLISoL Lorena</a>
            <span class="text-muted small">2017 Apr 08, 16h</span>
        </li>
        <li class="mt-2">
            <a target="_blank" href="https://pt.slideshare.net/deoliveiralucasnet/mongodb-flison-2016">Oficina de MongoDB - FLISoL Lorena</a>
            <span class="text-muted small">2016 Apr 16, 18h</span>
        </li>
        <li class="mt-2">
            <a target="_blank" href="https://pt.slideshare.net/deoliveiralucasnet/php-com-mongodb">Minicurso PHP com MongoDB - XI Semana da Computação UNISAL</a>
            <span class="text-muted small">2015 Oct 30, 22h</span>
        </li>
    </ul>

    <h2 class="mt-4">Contact</h2>

    <p>contato@deoliveiralucas.net</p>
</main>
{% endblock %}